<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Site de uma clínica veterinária com Banho e Tosa">
  <meta name="keywords" content="PetShop, Veterinário">
  <link rel="stylesheet" href="../css/index.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
  <title>Equilíbrio Pet</title>
</head>

<body>

    <nav class="navbar">
      <div class="logo">
        <a href="../html/index.html">
          <img src="../view/img/logo.jpg" alt="Logo da Equilíbrio Pet"/>
        </a>
      </div>
      <div class="logoN">
        <a href="../html/index.html"><h1>Equilíbrio Pet</h1></a>
      </div>
      <div class="menu">
        <a href="../html/index.html">Início</a>
        <a href="../html/sobre.html">Sobre Nós</a>
        <a href="../html/servicos.html">Serviços</a>
      </div>
      <div class="Log-Cad">
        <a id="cadastro" href="../view/cadastro.html">Cadastro</a>
        <a id="login" href="../html/login.html">Login</a>
      </div>
    </nav>

    <header class="header2">
      <div class="imagem-hd">
          <img style="max-width: 150%; max-height:100%" src="../view/img/imagem headline.png" alt="Imagem da Headline">
      </div>
      <div class="headline">
        <h3 style="font-size: 20px;">Seja muito</h3>
        <h2 style="font-size: 45px;">Bem-vindo!</h2>
        <p style="font-size: 15px;">Desde 2017 a saúde e o bem-estar do seu pet são a nossa prioridade. Nossa equipe de veterinários experientes e apaixonados está pronta para oferecer os melhores cuidados para os seus amigos de quatro patas.</p>
        <p style="font-size: 15px;">Com um ambiente acolhedor e instalações modernas, garantimos um atendimento de qualidade, desde consultas de rotina até procedimentos especializados.</p>
        <a href="../html/contato.html" class="contato-btn" style="font-size: 15px;">Contate-nos</a>
      </div>
    </header>

    <section class="segunda">
        <img src="../view/img/veterinario.png" alt="Veterinário">
        <h2 style="font-size: 45px;">Clínica Veterinária Equilíbrio Pet</h2>
        <p>Entendemos que cada animal é único, e por isso, adotamos uma abordagem personalizada em cada atendimento. Nossos serviços incluem exames de saúde, vacinação, orientação sobre nutrição e comportamento, além de emergências veterinárias. Estamos aqui para responder todas as suas dúvidas e oferecer suporte em todas as fases da vida do seu pet.</p>
        <p>Agradecemos por confiar em nós para cuidar do seu companheiro. Juntos, vamos garantir que ele tenha uma vida longa e saudável! Explore nosso site para conhecer mais sobre nossos serviços e cadastre-se para agendar uma consulta.</p>
        <a href="../view/cadastro.html" class="cadastro2">Cadastre-se</a>
    </section>

    <section class="servicos">
        <img src="../view/img/servicos.png.png" alt="Serviços">
        <h2 style="font-size: 45px;">Conheça alguns dos nossos serviços</h2>
        <div class="servicos-cards">

          <div class="card">
            <div class="card-frente">
              <h3>Fisiatria</h3>
              <img src="../view/img/fisiatria.png" style="max-width: 100%; max-height:100%;">
            </div>
            <div class="card-oculto">
              <h3>Fisiatria</h3>
              <p style="font-size: 15px;">A fisiatria veterinária é uma especialidade da medicina veterinária que se concentra na prevenção, diagnóstico e tratamento de disfunções musculoesqueléticas e neurológicas em animais. Utiliza técnicas como fisioterapia, reabilitação e terapia manual para melhorar a qualidade de vida dos pacientes. O objetivo é promover a recuperação funcional e o bem-estar dos animais.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-frente">
              <h3>Acupuntura</h3>
              <img src="../view/img/acupuntura-vet.png" style="max-width: 100%; max-height:100%;">
            </div>
            <div class="card-oculto">
              <h3>Acupuntura</h3>
              <p style="font-size: 15px;">A acupuntura veterinária utiliza agulhas finas para estimular pontos no corpo dos animais, aliviando a dor e promovendo a recuperação de diversas condições. Baseada na medicina tradicional chinesa, visa equilibrar a energia vital (Qi) e melhorar o bem-estar geral.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-frente">
                <h3>Nutrição</h3>
                <img src="../view/img/nutricao-veterinaria.png" style="max-width: 100%; max-height:100%;">
            </div>
            <div class="card-oculto">
              <h3>Nutrição</h3>
              <p style="font-size: 15px;">A nutrição veterinária é o campo que estuda as necessidades alimentares de animais, focando em dietas balanceadas para promover saúde e prevenir doenças. Inclui a formulação de ração adequada para diferentes espécies, idades e condições de saúde. O objetivo é garantir uma alimentação que suporte o bem-estar, crescimento e longevidade dos pets.</p>
            </div>
          </div>

        </div>
    </section>

    <section class="depoimentos">
      <img src="../view/img/grupo-de-bate-papo.png" alt="Depoimentos">
      <h2 style="font-size: 45px;">O que as pessoas andam falando?</h2>

      <div class="depoimentos-cards">

        <div class="card-depoimento">
          <img src="../view/img/perfil.png" alt="Perfil">
          <h4>Ana</h4>
          <h4>34 anos</h4>
          <img src="../view/img/estrelas.png" alt="Estrelas">
          <p style="font-size: 15px;">A clínica é simplesmente incrível! Minha cachorrinha passou por uma cirurgia e a equipe foi super atenciosa. Me senti segura o tempo todo! Podem confiar sem medo.</p>
        </div>
        <div class="card-depoimento">
          <img src="../view/img/perfil.png" alt="Perfil">
          <h4>Roberto</h4>
          <h4>27 anos</h4>
          <img src="../view/img/estrelas.png" alt="Estrelas">
          <p style="font-size: 15px;">Levei meu gato para um check-up e a recepção foi ótima. A veterinária explicou tudo com clareza e ainda me deu dicas valiosas. Recomendo de olhos fechados!</p>
        </div>
        <div class="card-depoimento">
          <img src="../view/img/perfil.png" alt="Perfil">
          <h4>Mariana</h4>
          <h4>45 anos</h4>
          <img src="../view/img/estrelas.png" alt="Estrelas">
          <p style="font-size: 15px;">A Clínica Equilíbrio Pet mudou a nossa vida! Meu cachorro estava com problemas de pele e, após o tratamento, ele melhorou muito. A dedicação deles é nota mil!</p>
        </div>

      </div>

    </section>

    <footer>
      <div id="footer_content">
        <div id="footer_contacts">
          <h3>Contatos</h3>
          <br>
          <div id="footer_social_media">
            <a href="#"><img src="../view/img/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="../view/img/wpp.jfif" alt="WhatsApp"></a>
            <a href="#"><img src="../view/img/logo.jpg" alt="E-mail"></a>
          </div>
        </div>

        <div id="footer_location">
          <h3>Localização</h3>
          <br>
          <p>Rua dos Veterinários, 123</p>
          <p>Fortaleza</p>
          <p>Estado: CE</p>
        </div>

        <div>
          <h3>Horário de Funcionamento</h3>
          <br>
          <p>Segunda à Sexta</p>
          <p>08h às 18h</p>
          <p>Plantão</p>
          <p>24h</p>
        </div>

        <div id="footer_subscribe">
          <h3>Inscreva-se</h3>
          <br>
          <p>Insira seu e-mail para ser notificado sobre as novidades</p>
          <form action="#">
            <input type="email" name="email" id="email" placeholder="Seu e-mail">
            <button type="submit">Inscrever-se</button>
          </form>
        </div>
      </div>
    </footer>
</body>

</html>
